.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.unknown {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}

.shadow {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}